{% extends "base.html" %}
{% block content %}
    <nav>
        <div class="menu">
            <div id="logo">
            <h3>PojištěníApp</h3>
            </div>
            <div class="flex_box">
                <div class="nav_item"><a href="{% url 'pojistenci_index' %}" class="aktivni">Pojištěnci</a></div>
                <div class="nav_item"><a href="{% url 'pojisteni_index' %}">Pojištění</a></div>
                <div class="nav_item"><a href="{% url 'udalosti' %}">Události</a></div>
                <div class="nav_item"><a href="{% url 'about' %}">O aplikaci...</a></div>
            </div>
            <div class="flex_box_two">
                {% if user.is_admin %}<div class="nav_item_two"> Admin </div>
                {% else %}
                <div class="nav_item_two"> {{ request.user.email }} </div>
                {% endif %}
                {% if user.is_authenticated %}<div class="nav_item_two"><a href="{% url 'logout' %}">Odhlásit</a></div>{% endif %}
                {% if not user.is_authenticated %}<div class="nav_item_three"><a href="{% url 'registrace' %}">Registrace</a></div>{% endif %}
                {% if not user.is_authenticated %}<div class="nav_item_three"><a href="{% url 'login' %}">Login</a></div>{% endif %}
            </div>
        </div>
    </nav>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <strong><span style="color: #ff564f">Error: {{message}}</span></strong>
                {% elif message.tags == "info" %}
                    <strong><span style="color: #fff64f">Info: {{message}}</span></strong>
                {% else %}
                    <strong><span style="color: #73E460">Zpáva: {{message}}</span></strong>
                {% endif %}
            {% endfor %}
        {% endif %}
    <div class="content">
        <h1>Pojištěnci</h1>
    <form method="GET" action="{% url 'novy_pojisteny' %}">
        <div class="container">
            {% if user.is_admin %}<button type="submit" class="btn btn-primary btn-lg">Nový pojištěnec</button>{% endif%}
        </div>
    </form>
    <table class="table table-bordered border-black shadow custom-table">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Bydliště</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for pojistenec in pojisteny %}
                <tr>
                    <td><a href="{% url 'pojisteny_detail' pojistenec.id %}">{{ pojistenec.jmeno }} {{ pojistenec.prijmeni }} </a></td>
                    <td>{{ pojistenec.ulice }}, {{ pojistenec.mesto }}</td>
                    <form method="POST">
                    {% csrf_token %}
                    <td>
                        <input type="hidden" name="pk" value="{{ pojistenec.id }}">
                        {% if user.is_authenticated %}<button name="edit" class="edit-button text-white" value="{{ pojistenec.id }}">Editovat</button>{% endif %}
                        {% if user.is_authenticated %}<button name="delete" class="remove-button" value="{{ pojistenec.id }}">Odstranit</button> {% endif %}
                    </td>
                </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        {% if pojisteny.has_previous %}
            <li><a href="?page={{ pojisteny.previous_page_number }}" class="btn btn-light text-muted">Předchozí</a></li>
        {% endif %}
        {% for i in pojisteny.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only"></span></span></li>
          {% else %}
            <li class="page-item"><a class="page-link btn btn-light" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if pojisteny.has_next %}
            <li><a href="?page={{ pojisteny.next_page_number }}" class="btn btn-light text-primary">Další</a></li>
        {% endif %}
      </ul>
{% endblock %}